/* Circular Content Carousel Style */
.ca-container{
	position:relative;
	margin:0;
	width:100%;
	height:70px;
}
.ca-wrapper{
	width:90%;
	height:100%;
	position:relative;
}
.ca-item{
	position:relative;
	float:left;
	width:70px;
	height:63px;
	text-align:center;
}
.ca-item img{
	border:1px solid #c9c9c9;	
}
.ca-icon{
	width:100%;
	height:100%;
	position:relative;
	margin:0 5px;
}
.ca-content-wrapper{
	background:#b0ccc6;
	position:absolute;
	width:0px; /* expands to width of the wrapper minus 1 element */
	height:440px;
	top:5px;
	text-align:left;
	z-index:10000;
	overflow:hidden;
}
.ca-content{
	width:660px;
	overflow:hidden;
}
.ca-nav span{
	width:13px;
	height:38px;
	background:transparent url(../img/arrow.png) no-repeat top left;
	position:absolute;
	top:50%;
	margin-top:-12px;
	left:-23px;
	text-indent:-9000px;
	opacity:0.7;
	cursor:pointer;
	z-index:100;
}
.ca-nav span.ca-nav-next{
	background-position:top right;
	left:auto;
	right:17px;
}
.ca-nav span:hover{
	opacity:1.0;
}